@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
 font-family: 'Lato', sans-serif; 
}

.brand {
font-family: 'Kristi', cursive;
font-size: 40px;
}

.links {
  font-size: 22px;
}

.down {
  min-height: 80vh;
}