@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  font-family: 'Lato', sans-serif;
}


body {
  margin: 0;
  padding-top: 110px;
  background-color: #F1E4E8;
  color: black;
}

.navbar {
  background-color: #6B3848 !important;
}


/*-------------- Home -------------------------*/

.brand {
  font-family: 'Kristi', cursive;
  font-size: 40px;
  color: white !important;
}

.links {
  font-size: 22px;
  color: #F1E4E8 !important;
}

.link:hover {
  color: white !important;
}


main {
  min-height: 80vh;
}

.pic {
  position: relative;
  border-radius: 50%;
  display: block;
  border: 5px solid #6B3848;
  margin: 0 auto;
  margin-top: 70px;
  width: 95%;
}


.title {
  padding-top: 70px;
  font-size: 2.5rem;
}

hr {
  background-color: rgb(134, 134, 134);
}

.message {
  font-size: 1.3rem;
  padding-top: 15px;
}

.btn {
  background-color: #C794A4;
  padding: 12px 30px;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
  outline: none;
  width: 150px;
  border: none;
  margin: 5px;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #6B3848;
  color: #C794A4;
}

#technology {
  margin: 180px 0;
}

.technology-heading {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;;
}

.scale {
  width: 50px;
  margin-bottom: 8px;
}

.tech {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 35px;
  font-weight: 500;
}

.icons {
  display: flex;
}

.title-heading {
  font-size: 2rem;
  /* padding-top: 20px; */
}

.project-box {
  display: flex;
  padding-top: 50px;
  margin: auto;
}

.box {
  padding-bottom: 20px;
  margin-right: 25px;
}

.box1 {
  max-width: 500px;
  max-height: 500px;
}

.img-text {
  padding-top: 5px;
  font-size: 1.2rem;
  color: #6B3848;
}

.learnmore {
  color: black;
}

.learnmore:hover {
  text-decoration: none;  
  border-bottom: 2px solid #6B3848;
  color: white
}

/*------xxxx-------- Home --------xxx--------*/



/*----------- Portfolio---------- */

/* Footer */
.socials {
  display: flex;
  justify-content: space-between;
}

.signature {
  font-size: 1.3rem;
}

.font-icons {
  margin-right: 20px;
  text-align: center;
}

.handles {
  color: black;
}

.handles:hover {
  color: white;
}

.handles-linkedin {
  color: black;
}

.handles-linkedin:hover {
  color: #2867B2;
}

.handles-twitter {
  color: black;
}

.handles-twitter:hover {
  color: #1DA1F2
}

.head {
  font-size: 1.5rem;
  padding-top: 10px;
}

.describe {
  font-size: 1.2rem;
  max-width: 550px;
}

.demo {
  color: black;
  font-size: 1.1rem;
  transform: scale(0);
}

.demo:hover {
  color: #6B3848;
  text-decoration: none;
  transform: scale(1.2);
}

/* -------portfolio ------***-----------*/



/* About -------------------- */


.bio {
  font-size: 1.3rem;
  padding: 20px 0;
}

/************** Contact *************/
.greeting-container {
  text-align: center;
}

.greeting {
  font-size: 7rem;
  text-align: center;
}

.greeting-text {
  font-size: 1.3rem;
}

.info {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: inline-block;
  margin-top: 30px;
  font-size: 1.5rem;
}

.fa-icon {
  margin-right: 20px;
  text-align: center;
}

/*--------------------- Contact -----------------------*/






/* --------------------- small screen -------------------*/


@media all and (max-width: 450px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .text {
    order: 2;
  }

  .pix {
    order: 1;
  }

  .pic {
    width: 80%;
  }

  .scale {
    margin-right: 15px;
  }

  .title {
    padding-top: 20px;
    /* text-align: center; */
    font-size: 2rem;
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }

  .socials {
    flex-direction: column;
  }

  .project-box {
    flex-direction: column;
  }

  .box1 {
    max-width: 280px;
    max-height: 300px;
  }

  .img-text {
    text-align: left;
  }

  .head {
    font-size: 1.3rem;
  }

  .bio {
    font-size: 1.2rem;
  }

  .greeting {
    font-size: 5rem;
    text-align: center;
  }
  
  .greeting-text {
    font-size: 1.2rem;
  }
  
  .info {
    display: inline-block;
    margin-top: 30px;
    font-size: 1.3rem;
  }
  
}