@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding-top: 110px;
}


/*-------------- Home -------------------------*/

.brand {
  font-family: 'Kristi', cursive;
  font-size: 40px;
}

.links {
  font-size: 22px;
}


main {
  min-height: 100vh;
}

.pic {
  position: relative;
  border-radius: 50%;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
  margin-top: 70px;
  width: 95%;
}

.title {
  padding-top: 100px;
}

hr {
  background-color: rgb(134, 134, 134);
}

.message {
  font-size: 1.3rem;
  padding-top: 15px;
}

.btn {
  background-color: #ABB6C2;
  padding: 12px 30px;
  font-size: 1.2rem;
  color: black;
  border-radius: 10px;
  outline: none;
  width: 150px;
  border: none;
  margin: 5px;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #ABB6C2;
  /* #577796; */
}

#technology {
  margin: 180px 0;
}

.technology-heading {
  margin-bottom: 80px;
  text-align: center;
  text-transform: uppercase;;
}

.scale {
  width: 50px;
  margin-bottom: 8px;
}

.tech {
  display: inline-block;
  text-transform: uppercase;
  padding-right: 35px;
}

.icons {
  display: flex;
}

.title-heading {
  font-size: 2rem;
  /* padding-top: 20px; */
}

.project-box {
  display: flex;
  padding-top: 50px;
  margin: auto;
}

.box {
  padding-bottom: 20px;
  margin-right: 25px;
}

.box1 {
  max-width: 500px;
  max-height: 500px;
}

.img-text {
  padding-top: 5px;
  font-size: 1.2rem;
  color: rgb(177, 177, 177);
}

.learnmore {
  color: white;
}

.learnmore:hover {
  text-decoration: none;  
  border-bottom: 2px solid white;
  color: rgb(172, 170, 170);
}

/*------xxxx-------- Home --------xxx--------*/



/*----------- Portfolio---------- */

/* Footer */
.socials {
  display: flex;
  justify-content: space-between;
}

.signature {
  font-size: 1.3rem;
}

.font-icons {
  margin-right: 20px;
  text-align: center;
}

.handles {
  color: white;
}

.handles:hover {
  color: black;
}

.handles-linkedin {
  color: white;
}

.handles-linkedin:hover {
  color: #2867B2;
}

.handles-twitter {
  color: white;
}

.handles-twitter:hover {
  color: #1DA1F2
}

.head {
  font-size: 1.5rem;
  padding-top: 10px;
}

.describe {
  font-size: 1.2rem;
  max-width: 550px;
}

.demo {
  color: white;
  font-size: 1.1rem;
}

.demo:hover {
  color: #ABB6C2;
  text-decoration: none;
  transform:scale(2);
}

/* -------portfolio ------***-----------*/



/* About -------------------- */

.about {
  /* margin: 0 auto; */
  /* max-width: 800px; */
}

.bio-heading {
  position: relative;
  margin: auto;
  padding-bottom: 20px;
  transform: rotateX(45);

}

.bio {
  font-size: 1.2rem;

}

/************** Contact *************/



/*--------------------- Contact -----------------------*/



/* --------------------- small screen -------------------*/


@media all and (max-width: 450px) {
  .row {
    display: flex;
    flex-direction: column;
  }

  .text {
    order: 2;
  }

  .pix {
    order: 1;
  }

  .pic {
    width: 80%;
  }

  .scale {
    margin-right: 15px;
  }

  .title {
    padding-top: 25px;
    text-align: center;
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }

  .socials {
    flex-direction: column;
  }

  .project-box {
    flex-direction: column;
  }

  .box1 {
    max-width: 280px;
    max-height: 300px;
  }

  .img-text {
    text-align: left;
  }

  .head {
    font-size: 1.3rem;
  }
}